html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
}

legend {
    font-size: 40px;
}

label {
    font-size: 30px;
}

input:not([type="submit"]) {
    background-color: #C6C6C6;
    padding: 15px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
}

input[type="submit"] {
    display: block;
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 25px;
    background: #07C9CA;
    border: none;
    border-radius: 15px;
    margin-bottom: 25px;
}

input[type="submit"]:hover {
    background-color: #07CA29;
    cursor: pointer;
}

header {
    background-color: #00A8FF;
    padding: 30px 0;
}

.contenedor-principal {
    max-width: 1200px;
    margin: 0 auto;
}

.barra {
    display: flex;
    justify-content: flex-end;
}

.barra a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    color: white;
}

.barra a:hover {
    color: #077F02;
    cursor: pointer;
}

.informacion {
    border: 1px solid #AEB0AE;
}

.informacion h3,
p {
    margin: 0;
}

.informacion h3 {
    background-color: #D1D8D1;
    padding: 20px;
    font-size: 25px;
    font-weight: 300;
}

.informacion p {
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #AEB0AE;
}

.informacion p:last-of-type {
    border-bottom: none;
}

table {
    border: 1px solid #AEB0AE;
}

.ftw-700 {
    font-weight: 700;
}

table tr:first-of-type {
    background-color: #D1D8D1;
}

table tr th {
    width: 500px;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
}

table tr th:first-of-type {
    width: 50px;
}

table tr th:last-of-type {
    width: 200px;
}